body {
    background-color: #0000ff;
}

.main {
    font-family: 'Press Start 2P', cursive;
    margin: 10% auto 0 auto;
    width: 70%;
    min-height: 50%;
    background-color: black;
    color: #adff2f;
}

.info {
    padding: 10px;
}

.info .whiteBox {
    background-color: #ffffff;
    color: black;
    margin-top: 5px;
    padding: 3px;
}

.info ul li {
    margin-top: 5px;
}

.info ul li ul li{
    list-style-type:circle;
}

.icon {
    font-size: 35px;
}

.pointer {
    cursor: pointer;
}